body {
	font-family: sans-serif;
}

h1, h2 {
	color: #FF7F00;
	font-variant: small-caps;
	clear: both;
}

h2 {
	color: brown;
}

blockquote {
	font-style: italic;
}

.rootPanel {
	min-width: 950px;
	min-height: 570px;
}

a,a:visited {
	color: #6666BB;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.menuItemHyperlink {
	color: #666666;
	text-decoration: none;
	cursor: auto;
}

.navigationList {
	margin-left: 10px;
	margin-top: 25px;
}

a.navigationListItem {
	display: block;
	padding: 2px;
	margin-bottom: 3px;
	font-size: medium;
	text-decoration: none;
}

.navigationListItem-selected {
	background-color: #CCCCDD;
	color: white;
}

.buttonBar {
	text-align: right;
}

.buttonBar * {
	margin: 10px;
}

.iframe {
	border: none;
	padding: 0px;
	height: 100%;
	width: 100%;
}