.rootPanel {
	min-width: 1058px;
	min-height: 400px;
}

a,a:visited {
	color: #6666BB;
	text-decoration: none;
	font-weight: bold;
	font-family: helvetica;
}

a:hover {
	text-decoration: underline;
}

.gwt-MenuItem a {
	color:#666666;
	text-decoration: none;
	cursor: auto;
}

.navigationBar-Top {
	float: right;
	padding: 5px;
	margin-right: 5px;
}

.navigationBar a,.navigationBar div {
	display: inline;
	font-size: medium;
	font-weight: bold;
	font-family: helvetica;
}

.navigationList {
	margin-left: 10px;
	margin-top: 25px;
}

a.navigationListItem {
	display: block;
	padding: 2px;
	margin-bottom: 3px;
	font-size: medium;
	text-decoration: none;
}

.navigationListItem-selected {
	background-color: #CCCCDD;
	color: white;
}

.contentWrapperPanel {
	border-width: thick;
}

.estimatorWidget {
	margin: 10px;
	text-align: center;
}

.estimatorWidget * {
	margin-top: 5px;
	margin-bottom: 5px;
}

.estimatorWidget input {
	margin-bottom: 20px;
}

.buttonBar * {
	margin: 10px;
}

.text-medium {
	font-size: medium;
}

.text-large {
	font-size: large;
}

.center {
	text-align: center;
}

.border-none {
	border-width: 0px;
}

.float-right {
	float: right;
}

.iframe
{
	border: none;
	padding: 0px;
	height: 100%;
	width: 100%;
}